body {
    background: hsl(222, 26%, 31%);
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body.light-mode {
    background: hsl(0, 0%, 90%);
}

body.dark-mode {
    background: hsl(268, 75%, 9%);
}

* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 540px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.title h3{
    font-weight: 800;
    color: hsl(0, 0%, 100%);
}

body.light-mode .title h3{
    color: hsl(198, 20%, 13%);
}

body.dark-mode  .title h3{
    color: hsl(52, 100%, 62%);
}

.buttons-block {
    display: flex;
}

.buttons-block-text {
    display: flex;
    align-items: center;
    padding-right: 25px;
}

.buttons-block-text span{
    color: hsl(0, 0%, 100%);
}

body.light-mode .buttons-block-text span{
    color: hsl(198, 20%, 13%);
}

body.dark-mode .buttons-block-text span{
    color: hsl(52, 100%, 62%);
}

.three-toggle {
    color: hsl(0, 0%, 100%);
}

body.light-mode .three-toggle{
    color: hsl(198, 20%, 13%);
}

body.dark-mode .three-toggle{
    color: hsl(52, 100%, 62%);
}

.three-toggle span{
   letter-spacing: 18px;
}

.switch {
    position: relative;
    width: 70px;
    height: 26px;
    background-color: #2c3548;
    border-radius: 36px;
    cursor: pointer;
    overflow: hidden;
}
  
.thumb {
    position: absolute;
    top: 5px;
    left: 3px;
    width: 17px;
    height: 17px;
    background-color: #ff5e5e;
    border-radius: 50%;
    transition: all 0.3s ease;
} 

.screen {
    width: 100%;
    height: 128px;
    background: hsl(224, 36%, 15%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
}

body.light-mode .screen {
    background: hsl(0, 0%, 93%);
}

body.dark-mode .screen{
    background: hsl(268, 71%, 12%);
}

.screen-value {
    font-size: 50px;
    color: hsl(0, 0%, 100%);
    padding: 35px;
}

body.light-mode .screen-value {
    color: hsl(198, 20%, 13%);
}

body.dark-mode .screen-value{
    color: hsl(52, 100%, 62%);
}

.button-content {
    padding: 30px;
    background: hsl(223, 31%, 20%);
    margin-top: 20px;
    border-radius: 10px;
}

body.light-mode .button-content {
    background: hsl(0, 5%, 81%);
}

body.dark-mode .button-content {
    background: hsl(268, 71%, 12%);
}

.button-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    gap: 24px;
}

.button-block button {
    font-size: 32px;
    color:hsl(223, 31%, 20%) ;
    background: hsl(30, 25%, 89%);
    border: none;
    border-radius: 10px;
    font-weight: 700;
    border-bottom: hsl(28, 16%, 65%) 4px solid;   
    height: 60px;
}

body.dark-mode .button-block button {
    color: hsl(52, 100%, 62%);
    background: hsl(268, 47%, 21%);
    border-bottom: hsl(285, 91%, 52%) 4px solid;
}

.button-block button:hover {
    background-color: hsl(0, 0%, 100%);
    transition: 0.3s;
}

body.dark-mode .button-block button:hover {
    background: hsl(281, 89%, 26%);
}

#btnDel {
    color: hsl(0, 0%, 100%);
    background: hsl(225, 21%, 49%);
    border-bottom: hsl(224, 28%, 35%) 4px solid;
}

body.light-mode #btnDel{
    background: hsl(185, 42%, 37%);
    border-bottom:hsl(185, 58%, 25%) 4px solid;
}

body.dark-mode #btnDel {
    background: hsl(281, 89%, 26%);
    border-bottom: hsl(285, 91%, 52%) 4px solid;
}

#btnDel:hover {
    opacity: 80%;
} 

#reset {
    grid-column: span 2;
    color: hsl(0, 0%, 100%);
    background: hsl(225, 21%, 49%);
    border-bottom: hsl(224, 28%, 35%) 4px solid;
}

body.light-mode #reset {
    background: hsl(185, 42%, 37%);
    border-bottom:hsl(185, 58%, 25%);
}

body.dark-mode #reset {
    background: hsl(281, 89%, 26%);
    border-bottom: hsl(285, 91%, 52%) 4px solid;
}

#reset:hover {
    opacity: 80%;
}

#equal {
    grid-column: span 2;
    color: hsl(0, 0%, 100%);
    background: hsl(6, 63%, 50%);
    border-bottom: hsl(6, 70%, 34%) 4px solid;
}

body.dark-mode #equal {
    background: hsl(176, 100%, 44%);
    border-bottom: hsl(177, 92%, 70%) 4px solid;
}

#equal:hover {
    opacity: 80%;
}

@media (max-width: 480px) {

    body {
        overflow: hidden;
      }

    .wrapper {
        padding: 24px;
    }

    .button-content {
        padding: 24px;
    }

    .button-block {
        gap: 13px;
    }

    #btnDel,#equal,#reset {
        font-size: 20px;
    }
}